.maxW {
  width: 100%;
  background-color: bisque;
}

.blueBlock {
  height: 50px;
  width: 50px;
  background-color: blue;
  float: left;
}

.redBlock {
  height: 50px;
  width: 50px;
  background-color: red;
  float: left;
}
